* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* height: 100%; */
}
body{
    background-color: #f3f3f3;
}
ul {
    list-style-type: none;
}

.clear {
    display: block;
    clear: both;
}
.show-box{
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #FFFFFF;
    min-height: 270px;
    border-radius: 0.3rem;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    /* max-width: 1240px; */
}
.col-md-6{
    display: inline-block;
}

#number-show-box>.content{
    text-align: center;
    display: inline-block;
}
.col-md-7>.content{
    margin: 3rem 0;
    padding: 0 2rem;
    overflow: auto;
}

.ibox h1{
    margin-top: 0.5rem;
    font-size: 1.5rem;
}
.ibox h5{
    font-size: 1.2rem;
}
.ibox{
    height: 130px;
    width: 100px;
    padding: 0.9rem;
    text-align: center;
    top: 0.8rem;
    border-color: #ffffff;
    border-radius: 0.5rem;
    display: inline-block;
    color: #ffffff;
}
#show-pie-chart{
    display: inline-block;
}

#number-show-box {
    padding-bottom: 0;
}