/* 顶部结束 */

/* 功能区开始 */
.container {
    padding: 20px 50px;
}

.container .row {
    padding: 0 10px 10px;
}

.container h5 {
    font-size: 1rem;
    display: inline-block;
}

ol.breadcrumb {
    background-color: #ffffff;
}

.row>div {
    padding-top: 10px;
    padding-bottom: 15px;
}

/* 功能区结束 */